@font-face {
  font-family: "Rubik";
  src: url(../../fonts/RubikDoodleShadow-Regular.ttf);
}
:root {
  --clr-navbar: #3A6EA5;
  --clr-content: #c0c0c086;
  --clr-content2: #b4b1b1;
  --clr-footer: #3A6EA5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  * {
    font-size: 1.4rem;
  }
}

.titulo {
  font-family: "Rubik";
  font-size: 4rem;
  text-align: center;
  align-items: center;
}

.navbarPrincipal {
  display: flex;
  justify-content: center;
  background-color: var(--clr-navbar);
  font-size: 1.1rem;
}
.navbarPrincipal .navbar-nav {
  display: flex;
  align-items: center;
}
.navbarPrincipal .navbar-nav .nav-item {
  margin-right: 1rem;
}

.sectionPrincipal {
  text-align: center;
  padding-block: 1vw;
}
.sectionPrincipal .grid-container {
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 800px) {
  .sectionPrincipal .grid-container {
    display: flex;
    flex-direction: column;
  }
}
.sectionPrincipal .grid-container .grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.sectionPrincipal .grid-container .description {
  position: absolute;
  bottom: 0;
  left: 10rem;
  width: 60%;
  background-color: var(--clr-navbar);
  color: #fff;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.grid-container {
  display: grid;
  place-items: center;
}
.grid-container .grid-img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.grid-container .grid-img:hover {
  transform: scale(1.1);
}
.grid-container .grid-item:hover .description {
  opacity: 1;
}

.footer {
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: var(--clr-footer);
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.section-carousel {
  margin-top: 2.5rem;
}

#carouselExampleAutoplaying {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  #carouselExampleAutoplaying {
    display: flex;
    width: 500px;
    margin: 0 auto;
  }
}

#carouselExampleAutoplaying .carousel-inner img {
  display: flex;
  max-width: 1000px;
  height: auto;
}
@media screen and (max-width: 800px) {
  #carouselExampleAutoplaying .carousel-inner img {
    display: flex;
    width: 500px;
    margin: 0 auto;
  }
}

.div-section-norte {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  font-size: 1.1rem;
  justify-content: center;
}
.div-section-norte .section-clima, .div-section-norte .section-conclusion {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--clr-content);
}
.div-section-norte .aside-atractivos {
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--clr-content2);
  overflow: hidden;
  margin-right: 5rem;
}
.div-section-norte .section-atractivos {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--clr-content);
  overflow: hidden;
}
.div-section-norte .section-atractivos .section-img-atractivos {
  float: right;
  width: 70%;
  margin-top: 2rem;
  margin-left: 5rem;
  border-radius: 3rem;
}
@media screen and (max-width: 800px) {
  .div-section-norte .section-atractivos .section-img-atractivos {
    display: flex;
    flex-direction: column;
    float: none;
    margin-bottom: 3rem;
  }
}

.div-section-sur {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  font-size: 1.1rem;
  justify-content: center;
}
.div-section-sur .section-resumen-sur {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  font-style: italic;
  border: 1px solid var(--clr-navbar);
  background-color: var(--clr-content);
}
.div-section-sur .section-atractivos-sur {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  border: 1px solid var(--clr-navbar);
  background-color: var(--clr-content);
  overflow: hidden;
  margin-right: 6rem;
}
.div-section-sur .section-atractivos-sur .aside-atractivos-sur .section-img-atractivos-sur {
  width: 1000px;
  border: 1px solid var(--clr-navbar);
}
.div-section-sur .section-atractivos-sur .aside-atractivos-sur .section-img-atractivos-sur2 {
  width: 100%;
  float: right;
}
@media screen and (max-width: 800px) {
  .div-section-sur .section-atractivos-sur .aside-atractivos-sur .section-img-atractivos-sur2 {
    width: 50%;
    flex-direction: column;
  }
}

.article-atractivos-sur {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  margin-left: 2.5rem;
  border: 1px solid var(--clr-navbar);
  background-color: var(--clr-content2);
  overflow: hidden;
  margin-right: 5rem;
}

.div-section-este {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  font-size: 1.1rem;
  justify-content: center;
}
.div-section-este .section-atractivos-este {
  font-size: 1.1rem;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid var(--clr-navbar);
  background-color: var(--clr-content);
}
.div-section-este .article-atractivos-este {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--clr-navbar);
  background-color: var(--clr-content);
}
.div-section-este .div-aside-este {
  height: 100%;
}
@media screen and (max-width: 800px) {
  .div-section-este .div-aside-este {
    height: 50%;
    display: flex;
    flex-direction: column;
  }
}
.div-section-este .div-aside-este .section-img-atractivos-este {
  float: left;
  width: 80%;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  .div-section-este .div-aside-este .section-img-atractivos-este {
    width: 450px;
  }
}
.div-section-este .div-aside-este .section-img-atractivos-este img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.div-section-este .div-aside-este .aside-atractivos-este {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--clr-navbar);
  background-color: var(--clr-content);
  overflow: hidden;
  margin-top: 2rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .div-section-este .div-aside-este .aside-atractivos-este {
    font-size: 1.3rem;
  }
}
.div-section-este .section-conclusion-este {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--clr-content2);
  margin-bottom: 5rem;
  text-align: center;
}

.div-carousel-este #carouselExample {
  width: 50%;
  margin-top: 5rem;
  margin: 0 auto;
}
.div-carousel-este #carouselExample .carousel-inner .carousel-item {
  text-align: center;
}
.div-carousel-este #carouselExample .carousel-inner .carousel-item img {
  max-width: 80%;
  height: auto;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .div-carousel-este #carouselExample .carousel-inner .carousel-item img {
    max-width: 350px;
  }
}
.div-carousel-este #carouselExample .carousel-control-prev,
.div-carousel-este #carouselExample .carousel-control-next {
  width: 1rem;
  background-color: rgba(73, 75, 73, 0.5764705882);
  color: #fff;
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  margin-top: -50px;
}
@media screen and (max-width: 800px) {
  .div-carousel-este #carouselExample .carousel-control-prev,
  .div-carousel-este #carouselExample .carousel-control-next {
    border-radius: 2rem;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-right: -20px;
    margin-left: -20px;
  }
}

.div-section-oeste {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  font-size: 1.1rem;
  justify-content: center;
}
.div-section-oeste .section-atractivos-oeste {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--clr-content);
}
.div-section-oeste .table-oeste {
  margin: 2rem 3rem 4rem 4rem;
  border: black;
  font-style: italic;
  font-weight: 500;
  background-color: var(--clr-content2);
}
.div-section-oeste .table-oeste table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 0;
}
.div-section-oeste .table-oeste th, .div-section-oeste .table-oeste td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.div-section-oeste .table-oeste th {
  background-color: var(--clr-navbar);
}
.div-section-oeste .div-aside-oeste {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  font-size: 1.1rem;
  justify-content: center;
}
.div-section-oeste .div-aside-oeste .aside-atractivos-oeste {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.section-tarjetas {
  padding: 60px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  .section-tarjetas {
    flex-direction: column;
  }
}
.section-tarjetas .tarjeta-atractivos-oeste {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 10px;
  font-style: italic;
  color: black;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--clr-content2);
  margin-right: 5rem;
  text-align: center;
  height: auto;
}
.section-tarjetas .tarjeta-atractivos-oeste .img-tarjeta {
  max-width: auto;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3, h4 {
  text-align: center;
  font-size: 1.4rem;
}

span {
  font-weight: bold;
}/*# sourceMappingURL=principal.css.map */