$clr-navbar: var(--clr-navbar);
$clr-content: var(--clr-content);
$clr-content2: var(--clr-content2);


.div-section-este {
  @include centro-vertical();
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  font-size: 1.1rem;
  justify-content: center;

  @include tablet {
    max-width: 100vw;
    font-size: 1.7rem;
    & h2{
      font-size: 2.2rem;
    }
  }

  .section-atractivos-este{
    font-size: 1.1rem;
    color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid $clr-navbar;
    background-color: $clr-content;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      max-width: 100vw;
      font-size: 1.4rem;
      & h2{
        font-size: 2.2rem;
      }
    }
  }
  
  .article-atractivos-este {
    font-size: 1.1rem;
    color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid $clr-navbar;
    background-color: $clr-content;
     max-width: 100vw;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      max-width: 100vw;
      font-size: 1.4rem;
      & h2{
        font-size: 2.2rem;
      }
    }
  }
    .section-img-atractivos-este {
      display: flex;
      width: 700px;
      margin-right: 5rem;
      margin-bottom: 2rem;
      border: 1px solid $clr-navbar;
      justify-content: center;

      @include tablet {
       width: 70%;
      }

      img {

      }

    }
    .aside-atractivos-este {
      font-size: 1.1rem;
      color: #333;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 8px;
      border: 1px solid $clr-navbar;
      background-color: $clr-content;
      max-width: 100vw;
      margin-left: auto;
      margin-right: auto;

      @include tablet {
        max-width: 100vw;
        font-size: 1.4rem;
        & h2{
          font-size: 2.2rem;
        }
    }
    
  }
}

.section-conclusion-este{
  font-size: 1.1rem;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid $clr-navbar;
  background-color: $clr-content;
  max-width: 100vw;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  
  @include tablet {
    max-width: 100vw;
    font-size: 1.4rem;
    & h2{
      font-size: 2.2rem;
    }
  }
}


