//carousel index
.section-carousel{
    margin: 2rem 2rem 2rem 2rem;
}
    #carouselExampleAutoplaying {
        display: flex;
        width: 800px; 
        margin: 0 auto;

    }
    
    #carouselExampleAutoplaying .carousel-inner img {
        display: flex;
        max-width: 800px;
        height: auto;
    }





// NORTE NORTE
.div-section-norte{
    @include centro-vertical();
    padding: 3rem; 
    padding-bottom: 0;
    gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); 
    font-size: 1.1rem; 
    justify-content: center;
    
    
    
    .section-clima, .section-conclusion{
        color: #333; 
        margin-bottom: 1rem; 
        padding: 1rem; 
        border-radius: 8px;
        border: 1px solid var(--clr-navbar);
        background-color: var(--clr-content); 
        @include tablet{
            font-size: 1.3rem;
        }
        @include mobile{
            width: 100vw;
            font-size: 3rem;
        }
    }

    .aside-atractivos {
        @include tablet{
        display: flex;
        flex-direction: column;
        }
        
        font-weight: 400;
        color: black;
        @include marginyBorder;
        background-color: var(--clr-content2);
        border: 1px solid var(--clr-navbar);
        overflow: hidden;
        margin-right: 5rem;

    }
    .section-atractivos{
        font-size: 1.1rem;
        color: #333;
        @include marginyBorder;
        border: 1px solid var(--clr-navbar);
        background-color: var(--clr-content);
        overflow: hidden;     
        margin-right: 5rem;

            .section-img-atractivos {
            border: 1px solid var(--clr-navbar);
            float: right; 
            width: 70%; 
            margin-top: 2rem; 
            margin-left: 5rem;
            border-radius: 3rem;
            } 
    
    } 
}
   